openapi: 3.1.0
info:
  title: 'Fantasy402 API (Secured Observed Contract)'
  version: 2026-05-17-slim-v1.2
  description: 'Security-hardened OpenAPI contract derived from the observed browser-to-api capture. Passwords and credential fields are intentionally removed from schemas and examples. Role requirements, hierarchy validation, rate-limit expectations, and sensitive-data annotations are encoded as contract metadata. Bulky observed examples and sample-derived large enums are removed for CI, linting, code generation, and mock-server use. Includes a small set of synthetic, non-sensitive examples for docs and mock servers.'
  contact:
    name: BILLY666 / Sports Terminal
    url: 'https://factory-wager.com'
  x-api-state: observed
  x-last-captured: 2026-05-08
  x-next-review: 2026-06-08
  x-ai-discovery:
    llmsTxt: ./llms.txt
    stableJson: ./openapi.json
    stableYaml: ./openapi.yaml
servers:
  - url: 'https://fantasy402.com'
    description: Production. Requires authenticated session cookie or agent bearer token.
paths:
  /cloud/api/System/authenticateCustomer:
    post:
      summary: POST /cloud/api/System/authenticateCustomer
      operationId: post_cloud_api_System_authenticateCustomer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountInfo:
                    '$ref': '#/components/schemas/AccountInfo'
                  code:
                    type: string
                required:
                  - accountInfo
                  - code
              examples:
                authenticated:
                  '$ref': '#/components/examples/AuthenticateCustomerResponseValid'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - 'authorization: Bearer undefined'
        - cf_clearance
        - __cf_bm
        - browser headers
      x-origin: 'https://fantasy402.com'
      security:
        - cloudflareClearance: []
          cloudflareBotManagement: []
          browserUserAgent: []
          browserAjaxHeader: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/AuthenticateCustomerRequest'
            examples:
              redacted:
                '$ref': '#/components/examples/AuthenticateCustomerRequestRedacted'
  /cloud/api/Manager/getAgentPerformance:
    post:
      summary: POST /cloud/api/Manager/getAgentPerformance
      operationId: post_cloud_api_Manager_getAgentPerformance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    type: object
                    properties:
                      LIST:
                        type: array
                        items:
                          '$ref': '#/components/schemas/LIST'
                    required:
                      - LIST
                required:
                  - INFO
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/League/Get_SportsLeagues:
    post:
      summary: POST /cloud/api/League/Get_SportsLeagues
      operationId: post_cloud_api_League_Get_SportsLeagues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Leagues:
                    type: array
                    items:
                      '$ref': '#/components/schemas/Leagues'
                required:
                  - Leagues
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getSubSportByReport:
    post:
      summary: POST /cloud/api/Manager/getSubSportByReport
      operationId: post_cloud_api_Manager_getSubSportByReport
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    '$ref': '#/components/schemas/INFO'
                required:
                  - INFO
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getHeriarchyRates:
    post:
      summary: POST /cloud/api/Manager/getHeriarchyRates
      operationId: post_cloud_api_Manager_getHeriarchyRates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      '$ref': '#/components/schemas/LIST_1'
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getMasterSheet:
    post:
      summary: POST /cloud/api/Manager/getMasterSheet
      operationId: post_cloud_api_Manager_getMasterSheet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetMasterSheet'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getPlayerCount:
    post:
      summary: POST /cloud/api/Manager/getPlayerCount
      operationId: post_cloud_api_Manager_getPlayerCount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentAccountingDetailed:
    post:
      summary: POST /cloud/api/Manager/getAgentAccountingDetailed
      operationId: post_cloud_api_Manager_getAgentAccountingDetailed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetMasterSheet'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentAccountingDetailedPlayerCount:
    post:
      summary: POST /cloud/api/Manager/getAgentAccountingDetailedPlayerCount
      operationId: post_cloud_api_Manager_getAgentAccountingDetailedPlayerCount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetMasterSheet'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentAccountingDetailedRules:
    post:
      summary: POST /cloud/api/Manager/getAgentAccountingDetailedRules
      operationId: post_cloud_api_Manager_getAgentAccountingDetailedRules
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetMasterSheet'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentAccountingDetailedTransactions:
    post:
      summary: POST /cloud/api/Manager/getAgentAccountingDetailedTransactions
      operationId: post_cloud_api_Manager_getAgentAccountingDetailedTransactions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetMasterSheet'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentPermissionSetting:
    post:
      summary: POST /cloud/api/Manager/getAgentPermissionSetting
      operationId: post_cloud_api_Manager_getAgentPermissionSetting
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      '$ref': '#/components/schemas/LIST_2'
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getPlayers:
    post:
      summary: POST /cloud/api/Manager/getPlayers
      operationId: post_cloud_api_Manager_getPlayers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      '$ref': '#/components/schemas/LIST_3'
                required:
                  - LIST
              examples:
                redactedList:
                  '$ref': '#/components/examples/GetPlayersResponseValid'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
        leastPrivilegeNote: Sub-agents must not list all players outside their hierarchy.
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
            examples:
              valid:
                '$ref': '#/components/examples/CommonAgentRequestExample'
      description: Lists players visible to the authenticated agent hierarchy. Response omits credential fields by contract.
  /cloud/api/Manager/searchCustomerAdmin:
    post:
      summary: POST /cloud/api/Manager/searchCustomerAdmin
      operationId: post_cloud_api_Manager_searchCustomerAdmin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      '$ref': '#/components/schemas/LIST_4'
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getTransactionHistory:
    post:
      summary: POST /cloud/api/Manager/getTransactionHistory
      operationId: post_cloud_api_Manager_getTransactionHistory
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getReportDeletedTransactions:
    post:
      summary: POST /cloud/api/Manager/getReportDeletedTransactions
      operationId: post_cloud_api_Manager_getReportDeletedTransactions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getWebLog:
    post:
      summary: POST /cloud/api/Manager/getWebLog
      operationId: post_cloud_api_Manager_getWebLog
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      '$ref': '#/components/schemas/LIST_5'
                  INFO:
                    type: string
                required:
                  - INFO
                  - LIST
          headers:
            Deprecation:
              schema:
                type: string
              description: HTTP deprecation signal. Value is true while this observed endpoint remains deprecated.
            Sunset:
              schema:
                type: string
                format: date-time
              description: Planned sunset timestamp for this deprecated observed endpoint.
            Link:
              schema:
                type: string
              description: 'Migration guidance link with rel="deprecation".'
        '410':
          description: Gone - use a narrowed audit-log endpoint after migration.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
          headers:
            Deprecation:
              schema:
                type: string
              description: HTTP deprecation signal. Value is true while this observed endpoint remains deprecated.
            Sunset:
              schema:
                type: string
                format: date-time
              description: Planned sunset timestamp for this deprecated observed endpoint.
            Link:
              schema:
                type: string
              description: 'Migration guidance link with rel="deprecation".'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
            Deprecation:
              schema:
                type: string
              description: HTTP deprecation signal. Value is true while this observed endpoint remains deprecated.
            Sunset:
              schema:
                type: string
                format: date-time
              description: Planned sunset timestamp for this deprecated observed endpoint.
            Link:
              schema:
                type: string
              description: 'Migration guidance link with rel="deprecation".'
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
      deprecated: true
      description: 'Deprecated pending audit. Exposes login activity, IP addresses, and free-form operational messages. Use a narrowed audit-log endpoint when available.'
      x-security-review-required: true
      x-privacy-classification: 'PII:AuditLog'
      x-sunset: '2026-06-30T00:00:00Z'
      x-migration-target: null
      externalDocs:
        description: Deprecation and migration guidance.
        url: ./remediation-closeout.md
      x-migration-guidance: No like-for-like replacement has been observed. Treat 410 Gone as authoritative and keep this blocked until a narrowed audit-log endpoint is captured.
  /cloud/api/Manager/getMessagesByParent:
    post:
      summary: POST /cloud/api/Manager/getMessagesByParent
      operationId: post_cloud_api_Manager_getMessagesByParent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Customer/getHeriarchy:
    post:
      summary: POST /cloud/api/Customer/getHeriarchy
      operationId: post_cloud_api_Customer_getHeriarchy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    type: array
                    items:
                      type: object
                      properties:
                        AgentID:
                          type: string
                          x-sensitive: true
                          x-privacy-classification: 'PII:AccountIdentifier'
                        SkipMessagetoMaster:
                          type: string
                        AgentLevel:
                          type: integer
                      required:
                        - AgentID
                        - AgentLevel
                        - SkipMessagetoMaster
                required:
                  - INFO
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 2
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
        confidence: low
      x-sample-count: 2
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getDailyFiguresByCustomer:
    post:
      summary: POST /cloud/api/Report/getDailyFiguresByCustomer
      operationId: post_cloud_api_Report_getDailyFiguresByCustomer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetDailyFiguresByCustomer'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getGradedWagerByCustomer:
    post:
      summary: POST /cloud/api/Report/getGradedWagerByCustomer
      operationId: post_cloud_api_Report_getGradedWagerByCustomer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getGrading:
    post:
      summary: POST /cloud/api/Report/getGrading
      operationId: post_cloud_api_Report_getGrading
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: string
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getLeaderBoard:
    post:
      summary: POST /cloud/api/Report/getLeaderBoard
      operationId: post_cloud_api_Report_getLeaderBoard
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: array
                    items:
                      type: object
                      properties:
                        customerID:
                          type: string
                          enum:
                            - __REDACTED__
                          x-sensitive: true
                          x-privacy-classification: 'PII:AccountIdentifier'
                        Balance:
                          type:
                            - integer
                            - number
                      required:
                        - Balance
                        - customerID
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getPendingByTicket:
    post:
      summary: POST /cloud/api/Report/getPendingByTicket
      operationId: post_cloud_api_Report_getPendingByTicket
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetPendingByTicket'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getTicketDetailPrint:
    post:
      summary: POST /cloud/api/Report/getTicketDetailPrint
      operationId: post_cloud_api_Report_getTicketDetailPrint
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetTicketDetailPrint'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
          headers:
            Deprecation:
              schema:
                type: string
              description: HTTP deprecation signal. Value is true while this observed endpoint remains deprecated.
            Sunset:
              schema:
                type: string
                format: date-time
              description: Planned sunset timestamp for this deprecated observed endpoint.
            Link:
              schema:
                type: string
              description: 'Migration guidance link with rel="deprecation".'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
            Deprecation:
              schema:
                type: string
              description: HTTP deprecation signal. Value is true while this observed endpoint remains deprecated.
            Sunset:
              schema:
                type: string
                format: date-time
              description: Planned sunset timestamp for this deprecated observed endpoint.
            Link:
              schema:
                type: string
              description: 'Migration guidance link with rel="deprecation".'
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 400
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
      deprecated: true
      description: 'Observed call returned Invalid Method. Use getPendingByTicket, getWagerDetailTransaction, or Manager/getWagaerDetailShort for read-only ticket/wager detail data unless backend confirms a valid print endpoint.'
      x-manual-review-required: true
      x-replacement-candidates:
        - /cloud/api/Report/getPendingByTicket
        - /cloud/api/Report/getWagerDetailTransaction
        - /cloud/api/Manager/getWagaerDetailShort
      x-sunset: '2026-06-30T00:00:00Z'
      x-migration-target: /cloud/api/Report/getPendingByTicket
      externalDocs:
        description: Deprecation and migration guidance.
        url: ./remediation-closeout.md
      x-migration-guidance: 'Likely replacement is ticket detail lookup through getPendingByTicket, with getWagerDetailTransaction or Manager/getWagaerDetailShort as supporting read-only detail views. Confirm exact print-specific replacement before removing manual-review status.'
  /cloud/api/Report/getTransactions:
    post:
      summary: POST /cloud/api/Report/getTransactions
      operationId: post_cloud_api_Report_getTransactions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getWagerDetailTransaction:
    post:
      summary: POST /cloud/api/Report/getWagerDetailTransaction
      operationId: post_cloud_api_Report_getWagerDetailTransaction
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/getWagersByFigureDate:
    post:
      summary: POST /cloud/api/Report/getWagersByFigureDate
      operationId: post_cloud_api_Report_getWagersByFigureDate
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  LIST:
                    type: object
                    properties:
                      INFO:
                        type: array
                        items: {}
                      CASINO_POSTED:
                        type: array
                        items: {}
                      LIVE_CASINO_POSTED:
                        type: array
                        items: {}
                    required:
                      - CASINO_POSTED
                      - INFO
                      - LIVE_CASINO_POSTED
                required:
                  - LIST
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Report/Pending:
    post:
      summary: Retrieve pending wagers for a customer
      operationId: post_cloud_api_Report_Pending
      responses:
        '200':
          description: Array of pending wagers.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/PendingResponse'
              examples:
                empty:
                  value:
                    Pending: []
                populated:
                  '$ref': '#/components/examples/PendingResponseValid'
        '400':
          description: Bad request - validation failure.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                invalidCustomer:
                  '$ref': '#/components/examples/InvalidCustomerError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
        '403':
          description: Forbidden - customer does not belong to the authenticated agent hierarchy.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  '$ref': '#/components/examples/ForbiddenError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 2
        statusCodes:
          - 200
          - 400
        normalizationFlags: []
        confidence: low
      x-sample-count: 2
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/PendingRequest'
            examples:
              valid:
                '$ref': '#/components/examples/PendingRequestValid'
              invalidCustomer:
                '$ref': '#/components/examples/PendingRequestInvalidCustomer'
      description: Returns pending wagers for a customer that belongs to the authenticated agent hierarchy. The observed API accepts form-encoded POST bodies. JSON clients should encode the same fields as form data. Passwords are intentionally absent from response schemas and examples.
  /cloud/api/Manager/primaryAgents:
    post:
      summary: POST /cloud/api/Manager/primaryAgents
      operationId: post_cloud_api_Manager_primaryAgents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/primaryAgentsGetAgents:
    post:
      summary: POST /cloud/api/Manager/primaryAgentsGetAgents
      operationId: post_cloud_api_Manager_primaryAgentsGetAgents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/primaryAgentsGetTransactions:
    post:
      summary: POST /cloud/api/Manager/primaryAgentsGetTransactions
      operationId: post_cloud_api_Manager_primaryAgentsGetTransactions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_MASTER
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Provider/getAppsCashierURL:
    post:
      summary: POST /cloud/api/Provider/getAppsCashierURL
      operationId: post_cloud_api_Provider_getAppsCashierURL
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetAppsCashierURL'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 401
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Provider/getCryptoWalletURL:
    post:
      summary: POST /cloud/api/Provider/getCryptoWalletURL
      operationId: post_cloud_api_Provider_getCryptoWalletURL
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/GetAppsCashierURL'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  '$ref': '#/components/examples/GenericProblem'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 401
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getBetTickerConfig:
    post:
      summary: POST /cloud/api/Manager/getBetTickerConfig
      operationId: post_cloud_api_Manager_getBetTickerConfig
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    '$ref': '#/components/schemas/INFO_6'
                required:
                  - INFO
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getBetTicker:
    post:
      summary: POST /cloud/api/Manager/getBetTicker
      operationId: post_cloud_api_Manager_getBetTicker
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
              examples:
                emptyTicker:
                  '$ref': '#/components/examples/BetTickerResponseEmpty'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitError'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
            examples:
              valid:
                '$ref': '#/components/examples/BetTickerRequestValid'
  /cloud/api/Manager/getListVip:
    post:
      summary: POST /cloud/api/Manager/getListVip
      operationId: post_cloud_api_Manager_getListVip
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/INFO'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests allowed in the current window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in the current window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the current window resets.
            Retry-After:
              schema:
                type: integer
                minimum: 0
              description: Seconds to wait before retrying the request.
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
            'application/problem+json':
              schema:
                '$ref': '#/components/schemas/ProblemDetails'
              examples:
                tooManyRequests:
                  '$ref': '#/components/examples/RateLimitProblem'
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-observed-auth:
        - authorization
      x-origin: 'https://fantasy402.com'
      security:
        - sessionCookie: []
        - agentToken: []
      x-required-roles:
        - ROLE_AGENT
        - ROLE_MASTER
        - ROLE_SUB_AGENT
      x-security-review:
        authenticationRequired: true
        hierarchyCheckRequired: true
        source: post-processed observed contract
      x-rate-limit:
        limit: 20
        window: 60
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              '$ref': '#/components/schemas/CommonAgentRequest'
  /cloud/api/Manager/getAgentPrefix:
    post:
      summary: POST /cloud/api/Manager/getAgentPrefix
      operationId: post_cloud_api_Manager_getAgentPrefix
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    type: object
                    properties:
                      CustomerIDPrefix:
                        type: string
                        x-sensitive: true
                        x-privacy-classification: 'PII:AccountIdentifier'
                      CustomerIDSufix:
                        type: string
                        x-sensitive: true
                        x-privacy-classification: 'PII:AccountIdentifier'
[...]
